<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BNU自由评价课程的平台">
    <meta name="keywords" content="BNU,评课,课程">
    <meta name="author" content="cruelkiddy, JessZHENG, chushidepao">
    <title>BNU评课社区</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #cbdeda">

<nav class="navbar navbar-expand-lg fixed-top navbar-dark justify-content-between" style="background-color: #0c5460;position: sticky;">
    <a class="navbar-brand" href="#">BNU评课社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-lg-8 justify-content-lg-between pr-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item pl-lg-2">
                <svg class="bi bi-bell-fill float-right" width="20" height="20" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                </svg>
            </li>
            <li class="nav-item my-auto pl-lg-2">
                <img src="../static/avator.png" class="rounded float-right" alt="..." width="20" height="20">
            </li>
        </ul>
    </div>
</nav>
<div class="container w-75 py-lg-3 justify-content-lg-between" style="background-color: #ffffff;">



</div>


    <script src="../js/jquery.js"></script>
    <script src="../js/proper.js"></script>
    <script src="../js/bootstrap.bundle.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>