<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- 用replace进行head的封装和复用 -->
<div th:replace="head"></div>

<body>

<!-- 用replace进行导航栏的封装和复用 -->
<div th:replace="nav_not_login"></div>

<div class="container w-75 py-lg-3 justify-content-lg-between" style="background-color: #ffffff;">
    <!-- Upper part of main page ie. keyword description-->
    <div class="container py-lg-3" id="course-info">
        <div class="row">
            <!-- Left side info about course-->
            <div class="container col-lg-8">
                <span class="h3 text-dark">计算机网络</span>
                <span class="h6 text-muted">肖明忠</span>

                <!-- Score -->
                <div class="d-flex flex-row">
                    <div class="p-2 pl-lg-0">
                        <svg class="bi bi-star-fill" width="30" height="30" viewBox="0 0 16 16" fill="gold"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="bi bi-star-fill" width="30" height="30" viewBox="0 0 16 16" fill="gold"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="bi bi-star-fill" width="30" height="30" viewBox="0 0 16 16" fill="gold"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="bi bi-star-fill" width="30" height="30" viewBox="0 0 16 16" fill="gold"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <svg class="bi bi-star-fill" width="30" height="30" viewBox="0 0 16 16" fill="gold"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </div>
                    <div class="p-3 align-text-bottom text-muted">
                        9.9分 <span class="small">（120人评价）</span>
                    </div>
                </div>

                <!-- Subjective assessment -->
                <div class="row justify-content-lg-start">
                    <div>
                        <ul class="list-group-flush pl-lg-0">
                            <li class="list-group-item">
                                <span class="">课程难度：一般</span>
                            </li>
                            <li class="list-group-item">
                                <span class="">作业数量：超多</span>
                            </li>
                            <li class="list-group-item">
                                <span class="">给分情况：还可</span>
                            </li>
                            <li class="list-group-item">
                                <span class="">收获大小：很大</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-group-flush">
                            <li class="list-group-item">
                                <span class="">课程难度：一般</span>
                            </li>
                            <li class="list-group-item">
                                <span class="">作业数量：超多</span>
                            </li>
                            <li class="list-group-item">
                                <span class="">给分情况：还可</span>
                            </li>
                            <li class="list-group-item">
                                <span class="">收获大小：很大</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Key words -->
                <div class="pl-lg-0">
                    <span>评论关键词：
                        <span class="badge badge-danger">好难</span>
                        <span class="badge badge-warning">难啊</span>
                        <span class="badge badge-success">666</span>
                        <span class="badge badge-info">CRC</span>
                    </span>
                </div>
            </div>

            <!-- Right side info about teacher-->
            <div class="container col-lg-4 rounded" style="background-color: #e9f5f2;">
                <ul class="list-group list-group-flush">
                    <!-- Considering move teacher's name here
                    <li class="list-group-item" style="background-color: #e9f5f2;">
                        <span class="small">任课教师：肖明忠</span>
                    </li>
                    -->
                    <li class="list-group-item" style="background-color: #e9f5f2;">
                        <span class="small">院系：人工智能学院计算机系</span>
                    </li>
                    <li class="list-group-item" style="background-color: #e9f5f2;">
                        <span class="small">研究方向：计算机网络、分布式系统</span>
                    </li>
                    <li class="list-group-item small" style="background-color: #e9f5f2;">肖老师教授的其他课程：
                        <span class="small badge badge-info">离散数学</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Lower part of main page ie. comments -->
    <div class="container" id="course-comments">
        <span class="h4">课程评价：</span>

        <hr/>
        <!-- A comment div -->
        <div class="container row justify-content-lg-start">
            <span><img src="../static/img/avator.png" class="rounded" alt="..." width="50" height="50"></span>
            <div class="d-inline h6 text-info my-lg-1 ml-lg-1">好大一棵树
                <svg class="bi bi-star-fill" width="10" height="10" viewBox="0 0 16 16" fill="gold"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg class="bi bi-star-fill" width="10" height="10" viewBox="0 0 16 16" fill="gold"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg class="bi bi-star-fill" width="10" height="10" viewBox="0 0 16 16" fill="gold"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg class="bi bi-star-fill" width="10" height="10" viewBox="0 0 16 16" fill="gold"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <svg class="bi bi-star-fill" width="10" height="10" viewBox="0 0 16 16" fill="gold"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
                <p class="text-dark small my-lg-1">如果这里字数不多，那么还没有bug。如果字数太多了，文字可能会溢出！这真是应了那句话：CSS IS
                    AWESOME!!!!!!!!!</p>
                <p class="text-dark small my-lg-1">我再多写一些文字来看看效果。实际这么多字已经溢出了，但是我把这段话切分之后填入了三个p标签中。可能这里要靠后端的同学，</p>
                <p class="text-dark small my-lg-1">如果一个评论字太多就分成几段填到多个p标签中</p>
                <div class="container row justify-content-lg-end align-items-lg-baseline mr-lg-0 pr-lg-0">
                    <svg class="bi bi-heart-fill mx-lg-1" width="18" height="18" viewBox="0 0 16 16" fill="red"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                              clip-rule="evenodd"/>
                    </svg>
                    <svg class="bi bi-chat-dots-fill mx-lg-1" width="20" height="20" viewBox="0 0 16 16"
                         fill="lightblue" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 01-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 11-2 0 1 1 0 012 0zm4 0a1 1 0 11-2 0 1 1 0 012 0zm3 1a1 1 0 100-2 1 1 0 000 2z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/proper.js"></script>
<script src="../static/js/bootstrap.bundle.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>