<!-- html的可复用的头 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BNU自由评价课程的平台">
    <meta name="keywords" content="BNU,评课,课程">
    <meta name="author" content="cruelkiddy, JessZHENG, chushidepao">
    <title>BNU评课社区</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/myCSS.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>