<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BNU自由评价课程的平台">
    <meta name="keywords" content="BNU,评课,课程">
    <meta name="author" content="cruelkiddy, JessZHENG, chushidepao">
    <title>BNU评课社区</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #cbdeda">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark justify-content-between" style="background-color: #0c5460;position: sticky;">
        <a class="navbar-brand" href="#">BNU评课社区</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse row navbar-collapse col-lg-8 col-sm-5 col-md-5 justify-content-lg-between pr-lg-0" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 col-lg-8 col-md-3 col-sm-3">
                <input class="form-control mr-sm-2 col-lg-8" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav row col-lg-4 col-md-2 col-sm-2 justify-content-lg-end justify-content-md-around justify-content-sm-around">
                <li class="nav-item pl-lg-2 col-lg-1 col-sm-1 col-md-1">
                    <svg class="bi bi-bell-fill float-right" width="25" height="25" viewBox="0 0 16 16" fill="#af9556" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                </li>
                <li class="nav-item my-lg-auto pl-lg-4 pr-lg-3 col-lg-1 col-sm-1 col-md-1">
                    <img src="../static/img/avator.png" class="rounded float-right" alt="..." width="25" height="25">
                </li>
            </ul>
        </div>
    </nav>
    <div class="container w-75 py-lg-3" style="background-color: #ffffff;">
        <div class="container row justify-content-lg-between my-lg-5">
            <div class="col col-lg-6">
                <svg class="bi bi-trophy" width="25" height="25" viewBox="0 0 16 16" fill="#e9aa0d" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 011-1h8a1 1 0 011 1H3zm2-1a1 1 0 011-1h4a1 1 0 011 1H5z"/>
                    <path fill-rule="evenodd" d="M12.5 3a2 2 0 100 4 2 2 0 000-4zm-3 2a3 3 0 116 0 3 3 0 01-6 0zm-6-2a2 2 0 100 4 2 2 0 000-4zm-3 2a3 3 0 116 0 3 3 0 01-6 0z" clip-rule="evenodd"/>
                    <path d="M7 10h2v4H7v-4z"/>
                    <path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z"/>
                </svg>
                <span class="h4 text-info">评分最高的课</span>

                <table class="table table-borderless table-sm">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>数字图像处理</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>数字图像处理</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">数字图像处理</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="col col-lg-6">
                <svg class="bi bi-trash2-fill" width="25" height="25" viewBox="0 0 16 16" fill="#cbd0cb" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.037 3.225l1.684 10.104A2 2 0 005.694 15h4.612a2 2 0 001.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z"/>
                    <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z" clip-rule="evenodd"/>
                </svg>
                <span class="h4 text-info">评价人数最多的课</span>
                <table class="table table-borderless table-sm">
                    <tbody>
                    <tr class="">
                        <th scope="row">1</th>
                        <td>计算机网络</td>
                    </tr>
                    <tr class="">
                        <th scope="row">2</th>
                        <td>计算机网络</td>
                    </tr>
                    <tr class="">
                        <th scope="row">3</th>
                        <td colspan="2">计算机网络</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="container row justify-content-lg-between my-lg-5">
            <div class="col col-lg-6">
                <svg class="bi bi-egg-fill" width="25" height="25" viewBox="0 0 16 16" fill="#e6ba99" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 10a6 6 0 01-12 0C2 5.686 5 0 8 0s6 5.686 6 10z"/>
                </svg>
                <span class="h4 text-info">评分最高的课</span>

                <table class="table table-borderless table-sm">
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>数字图像处理</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>数字图像处理</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">数字图像处理</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="col col-lg-6">
                <svg class="bi bi-heart-fill" width="25" height="25" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/>
                </svg>
                <span class="h4 text-info">评价人数最多的课</span>
                <table class="table table-borderless table-sm">
                    <tbody>
                    <tr class="">
                        <th scope="row">1</th>
                        <td>计算机网络</td>
                    </tr>
                    <tr class="">
                        <th scope="row">2</th>
                        <td>计算机网络</td>
                    </tr>
                    <tr class="">
                        <th scope="row">3</th>
                        <td colspan="2">计算机网络</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/proper.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>