<!-- 未登陆状态的导航栏-->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark justify-content-between" style="background-color: #0c5460;position: sticky;">
    <a class="navbar-brand" href="#">BNU评课社区</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse row navbar-collapse col-lg-8 col-sm-5 col-md-5 justify-content-lg-between pr-lg-0" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 col-lg-8 col-md-3 col-sm-3">
            <input class="form-control mr-sm-2 col-lg-8" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav row col-lg-4 col-md-2 col-sm-2 justify-content-lg-end justify-content-md-around justify-content-sm-around">
            <li class="nav-item pl-lg-2 col-sm-1 col-md-1 col-lg-4">
                <button type="button" class="btn btn-outline-primary">注册</button>
            </li>
            <li class="nav-item my-lg-auto pl-lg-1 pr-lg-3 col-sm-1 col-md-1 col-lg-4">
                <button type="button" class="btn btn-outline-success">登陆</button>
            </li>
        </ul>
    </div>
</nav>
