<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<!-- 用replace进行head的封装和复用 -->
<div th:replace="head"></div>

<body>

<!-- 用replace进行导航栏的封装和复用 -->
<div th:replace="nav_not_login"></div>

<div class="container w-75 py-lg-3 justify-content-lg-between" style="background-color: #ffffff;">
    <div class="d-lg-flex justify-content-lg-center">

        <!-- 左边的一些文字 -->
        <div class="col-lg-4 text-lg-left pt-lg-5">
            <h2>自由评课</h2>
            <p class="lead">我们致力于打造一个自由、客观、百花齐放的课程评价平台。这里的文字太少了，还要再多写一些...</p>
        </div>


        <!-- 右边的表单-->
        <div class="col-lg-4">
            <form class="form-signup" id="sign-up-info" action="/register" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="crsfToken"/>
                <h3 class="text-info">注册新账户</h3>
                <span class="text-muted">昵称：</span>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="" required=""
                       autofocus="">
                <span class="text-muted">师大邮箱：<span id="errorAccount"></span></span>
                <label for="account" class="sr-only">Email address</label>
                <div class="input-group">
                    <input type="text" id="account" name="account" class="form-control" placeholder="" required=""
                           autofocus="" onblur="checkAccount()">
                    <div class="input-group-append">
                        <span class="input-group-text">@mail.bnu.edu.cn</span>
                    </div>
                </div>
                <span class="text-muted">设置账户密码：</span>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="" required="">
                <span class="text-muted">请再输一遍密码：</span>
                <label for="passwordagain" class="sr-only">Password again</label>
                <input type="password" id="passwordagain" name="passwordagain" class="form-control" placeholder=""
                       required="">
                <span class="small">点击注册后您的师大邮箱将收到一封验证邮件，如果没有找到请去垃圾邮件看一看</span>
                <br>
                <input class="btn btn-lg btn-success btn-block" type="submit" id="btn-submit" value="注 册">
                <p class="mt-5 mb-3 text-muted">© 2020-</p>
            </form>
        </div>
    </div>


</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/proper.js"></script>
<script src="../static/js/bootstrap.bundle.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    //onblur失去焦点的值
    //定义一个变量用于存放XMLHttpRequest对象
    var xmlHttp;

    function checkAccount() {
        //获取文本框的值
        var account = document.getElementById("account").value;
        if (!/^[0-9]+$/.test(account) || account.length !== 12) {
            document.getElementById("errorAccount").innerHTML = "请填写有效邮箱！";
        } else if (window.XMLHttpRequest) {
            xmlHttp = new XMLHttpRequest();
        } else {// code for IE6, IE5
            xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        //服务器地址和数据
        var url = "checkAccount";
        //规定请求的类型、URL 以及是否异步处理请求。
        xmlHttp.open("GET", url+"?account="+account, true);
        //向请求添加 HTTP 头。这个必加，是提交到后台的方式
        xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        //将请求发送到服务器
        xmlHttp.send();
        //回调函数
        xmlHttp.onreadystatechange = function () {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var result = xmlHttp.responseText;
                var response = JSON.parse(result);
                var object = response.message;
                document.getElementById("errorAccount").innerHTML = object;
            }
        }//给div设置内容
        //document.getElementById("errorAccount").innerHTML=account;
    }
</script>
<!-- 判断表单信息合法性 合法是指：1、两次输入密码一样 2、若邮箱用户名全是数字，那么必须是12位-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#sign-up-info").submit(function (event) {
            var pwd1 = document.getElementById("password").value;
            var pwd2 = document.getElementById("passwordagain").value;
            var email_text = document.getElementById("account").value;
            if (pwd1 !== pwd2) {
                alert("两次输入的密码不同！");
                return false;
            } else if (/^[0-9]+$/.test(email_text) && email_text.length !== 12) {
                alert("请填写有效的邮箱！");
                return false;
            } else
                return true;
        });
    });
</script>
</body>
</html>